
@{
    ViewBag.page = "Home";
    ViewBag.Title = "ScioFramework";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <img src="~/images/rawlogo1.png" alt="logo" style="height:250px;"/>
                <p>Rapid Application Wireframe</p>
                For help execute the next command in console: <strong>rawcore help</strong>
            </div>
        </div>
    </div>

    <br />
    <br />
</div>

